Flask==3.0.0
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
python-dotenv==1.0.0
passlib==1.7.4
bcrypt==4.0.1
PyJWT==2.8.0
flask-cors==4.0.0
requests==2.31.0
gunicorn==21.2.0
flask-swagger-ui==3.36.0
zep-cloud
